.menu{
  
    height: 5vh;
    
  }


.Toolbar{
    display: flex;
    margin-left: 1%;
    margin-top: 2px;
    
    
    
  }

.dropdown {
    margin-left: 2px;
    position: relative;
    display: inline-block;
}

.dropdown-user-right {
    margin-left: 2px;
    position: relative;
    display: inline-block;
    
}

.dropbtn {
    
    color: white;
    display: flex;
    
    border: none;
    align-content: center;
    justify-content: center;

}

.dropbtn-user {
    background-color: rgb(43, 40, 53);
    color: white;
    font-size: 14px;
    border: none;
    padding: 4px;
    margin-left: 100px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.7);
    z-index: 1;
}

.dropdown-user {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 160px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.7);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
}

.dropdown-user a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

.dropdown-user a:hover {background-color: #ddd;}
  
.dropdown-user-right:hover .dropdown-user {display: block;}
  
.dropdown:hover .dropbtn {background-color: black;}
.dropdown-user-right:hover .dropbtn-user {background-color: black;}

.header_toolbar{
    padding: 0;
    margin: 0;
    margin-left: 2%;
    
}

.user_container{
    display: flex;
    margin: 0 0 0 auto;
    min-width: 160px;
    align-content: flex-end;
}