.App{
  
  margin-top: .1vh;
  margin-bottom: .1vh;
  height: 99vh;
  border: solid;
  border-radius: 5px;
  display: block;
}

.Content{
  
  height: 80vh;
}

.Options{
  
  height: 5vh;
  background-color: gold;
  border: 1px solid;
}

.Header{
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
   
  align-items: center;
  height: 5vh;
  font-size: 80%;
}

.Footer{
  
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Nav{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  
  
}

.navTable{
  margin: auto;
  text-align: center;
  width: 30%;
  justify-self: center;
}

/* .tableHead{
 
 
} */

.navButton{
  width: 100%;
  height: 100%;
}

.courses {
  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: solid 0.1px;
}

.superior {
 
  border: solid red 1px;
  width: 99.5%;
  border-radius: 5px;
}



.title, .name, .photo, .info{
  margin: auto;
  text-align: center;
}

.title{
  display: flex;
  justify-content: center;/* horizontally */
  align-items: center; /*vertically*/
  height: 10vh;
  font-size: 200%;
 
  
 
}

.name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 
  font-size: 200%;
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
 
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  
}

.Footer_component{
  background-color: brown;
}



.Home_img{
  height: 18vh;
  width: 20%;
}

.skills_content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_list{
  text-align: left;
}

.header_table{
  margin-top: 0;
  padding-top: 0;
  text-align: right;
}

.experience_content{
  
 

  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  height: 70vh;
  max-height: 70vh;
  border-bottom: solid 1px;
}



.Experience{
 

  height: 80vh;
  max-height: 80vh;
}

.experience_header{
  display: flex;
  height: 5vh;
  padding-left: 5%;
  align-items: center;
}





.git_url{
  font-size: 80%;
}

.header_section_title{
  display: flex;
  height: 5vh;
  background-color: chartreuse;
  text-align: center;
  font-weight: bold;
  justify-content: left;
  align-items: center;
  padding-left: 5%;
}


.Skills{
 

  height: 80vh;
  max-height: 80vh;
}

.skills_content{
  
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  margin-left:0;
  padding-bottom: 0;
  padding-top: 0;
  height: 70vh;
  max-height: 70vh;
  border-bottom: solid 1px;
}

.skills_table{
  margin-left:0;
  margin-top: 0;
  padding-top: 0;
  align-self: flex-start; 
}

.section_header{
  display: flex;
}

.element{
  padding-left: 10px;
  font-size: 100%;

  font-weight: 600; 
}

.experience_table{
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-bottom: 3px;
}

.period{
  font-size: 80%;
  font-weight: bold;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.description_experience{
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.job_paragraph{
  margin-top: 1vh;
  margin-bottom: 0;
  
}

.exp_row{
  
  font-size: 83%;
  text-align: justify;
  
}

.projects{
  margin-bottom: 0vh;
}

.project-row{
  font-size: 85%;
  text-align: left;
}

.objective_container{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;/* horizontally */
  align-items: flex-start; /*vertically*/
  text-align: justify;
  
}

.Objective{
  display: flex;
  
}