.App{
  
  margin-top: .1vh;
  margin-bottom: .1vh;
  height: 99vh;
  border: solid;
  border-radius: 5px;
  display: block;
}

.Content{
  
  height: 80vh;
}

.Options{
  
  height: 5vh;
  background-color: gold;
  border: 1px solid;
}



.Footer{
  
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Nav{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  
  
}

.navTable{
  margin: auto;
  text-align: center;
  width: 30%;
  justify-self: center;
}

/* .tableHead{
 
 
} */

.navButton{
  width: 100%;
  height: 100%;
  margin-left: 15%;
}

.courses {
  
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: solid 0.1px;
}

.superior {
 
  border: solid red 1px;
  width: 99.5%;
  border-radius: 5px;
}



.title, .name, .photo, .info{
  margin: auto;
  text-align: center;
}

.title{
  display: flex;
  justify-content: center;/* horizontally */
  align-items: center; /*vertically*/
  height: 10vh;
  font-size: 200%;
 
  
 
}

.name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 
  font-size: 200%;
}





.Footer_component{
  background-color: brown;
}





.skills_content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill_list{
  text-align: left;
}

.header_table{
  margin-top: 0;
  padding-top: 0;
  text-align: right;
}

.experience_content{
  
 

  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  height: 70vh;
  max-height: 70vh;
  border-bottom: solid 1px;
}



.Experience{
 

  height: 80vh;
  max-height: 80vh;
}

.experience_header{
  display: flex;
  height: 5vh;
  padding-left: 5%;
  align-items: center;
}





.git_url{
  font-size: 80%;
}

.header_section_title{
  display: flex;
  height: 5vh;
  background-color: chartreuse;
  text-align: center;
  font-weight: bold;
  justify-content: left;
  align-items: center;
  padding-left: 5%;
}


.Skills{
 

  height: 80vh;
  max-height: 80vh;
}



.skills_table{
  margin-left:0;
  margin-top: 0;
  padding-top: 0;
  align-self: flex-start; 
}

.section_header{
  display: flex;
 
 
  
}

.element{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
  justify-content: center;/* horizontally */
  align-items: flex-start; /*vertically*/
  font-weight: 600; 
  height: 100%;
}

.experience_table{
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-bottom: 3px;
}

.period{
  font-size: 80%;
  font-weight: bold;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.description_experience{
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.job_paragraph{
  margin-top: 1vh;
  margin-bottom: 0;
  
}

.exp_row{
  
  font-size: 83%;
  text-align: justify;
  
}

.projects{
  margin-bottom: 0vh;
}

.project-row{
  font-size: 85%;
  text-align: left;
}

.objective_container{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;/* horizontally */
  align-items: flex-start; /*vertically*/
  text-align: justify;
  margin-top: 0;
  
  
}

.Objective{
  display: flex;
  margin-top: 0;
  
}

.image-profile{
  
  display: flex;
  height: 4vh;
  border-radius: 100%;
  
  align-self: center;
}

.profile-photo{
  display: flex;
  border-radius: 100%;
  height: 20vh;
 
 
}

.objective_paragraph{
  margin-top: 0;
  padding-top: 0;
 
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
 
 
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  
  
}

.Header{
  background-color: lightcoral;
  display: flex;
  justify-content: space-around;
   
  align-items: center;
  height: 5vh;
  font-size: 80%;
}

.section-profile{
width: 10%;
margin-right: 2%;
}


.image-badge{
  height: 4vh;
  border-radius: 100%;
  display: inline-flex;
}

.education{
 

  height: 80vh;
  max-height: 80vh;
}



.education_content{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  height: 70vh;
  max-height: 70vh;
  border-bottom: solid 1px;
  
}

.skill-education{
  margin-top: 12vh;
  display: block;
  
  justify-content: center;
  align-items: center;
  

}

.skill-education-title{
  font-weight: bolder;
}

.skill-education-table{
  
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2px;
}

.education-badge{
  width: 10%;
}

.education-data{
  
  width: 90%;
  
}

.certification-button{
  display: flex;
  margin-right: 1%;
  margin-left: 1%;
  border: solid 2px;
  width: 98%;
  justify-content: center;
  align-content: center;
  border-radius: 8px;
  
}


.Modal {
  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 85%;
  border-radius: 4px;
}

.certification_content{
  display: flex;
  justify-content: center;
  
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  height: 70vh;
  max-height: 70vh;
  border-bottom: solid 1px;
  
}

.skill-certification{
  font-weight: bold;
  display: block;
  
  justify-content: center;
}

.cert-image{
  width: 100%
}

.cert-button-container{
  display: flex;
  justify-content: center;
}